<!-- bottom menu options -->
<div>
 <ul id="bottom_menu">
     <li><a href="make a new">Add A New Category</a></li>
       <li><a href="new post">Create A Post</a></li>
       <li><a href="holder">holder</a></li>
       <li><a href="holder">holder</a></li>
</ul>
</div>