<!-- top menu options -->
   <ul id="top_menu">
       <li><a href="/">Home</a></li>
       <li><a href="Login">Login</a></li>
       <li><a href="holder">holder</a></li>
       <li><a href="holder">holder</a></li>
  </ul>
