<!-- top menu options -->
<div id="top_menu">
   <ul>
       <li><a href="/">Home</a></li>
       <li><a href="Login">Login</a></li>
       <li><a href="holder">holder</a></li>
       <li><a href="holder">holder</a></li>
  </ul>
</div>

