<div class="container">
  <h1>Welcome to BerniesList</h1>
  <ul>
  <% @categories.each do |cat| %>
  <span>
    <li><a href="/category/<%=cat.id%>"><%= cat.name %></a></li>
  </span>

  <% end %>
  </ul>

 
</div>
